<% books.each do |book| %>
  <div class="col-12 col-md-4 mt-3 mp-3">
    <div class="card" >
      <div class="bd-placeholder-img card-img-top card-center" width="100%" height="180">
        <%= link_to admin_book_path(book.id) do %>
          <%= render "admin/books/image_url", book: book %>
        <% end %>
      </div>
      <div class="card-body">
        <p class="card-text card-color">投稿者:<br>
          <%= link_to admin_member_path(book.member_id), class: "link" do %>
            <%= book.member.nick_name %>
          <% end %>
        </p>
        <h6 class="card-title card-color">タイトル:<br><%= link_to book.title, admin_book_path(book.id), class: "link" %></h6>
        <p class="card-text card-color">ジャンル:<br><%= book.genre.name %></p>
        <p class="card-text card-color">キャッチコピー:<br><%= book.catchphrase %></p>
        <% if member_signed_in? %>
          <div class="card-color" id="favorite_buttons_<%= book.id %>">ブックマーク:<br><%= render "public/favorites/btn", book: book %></div>
       <% end %>
      </div>
    </div>
  </div>
<% end %>

<% for num in 1..(3-(books.length % 3)) %>
  <div class="col-12 col-md-4"></div>
<% end %>