<div class='container'>
  <div class='row'>
    <div class="col-md-4">
      <% if @book.image_url %>
        <%= image_tag @book.image_url, size:"240x300", class: "image" %>
      <% else %>
        <%= image_tag "no_image.jpg", size:"240x300",  class: "image" %>
      <% end %>
    </div>
    <div class="col-md-8">
      <table class='table'>
        <tr>
          <th><h5>タイトル</h5></th>
          <td><%= @book.title %></td>
        </tr>
        <tr>
          <th><h5>著者</h5></th>
          <td><%= @book.author %></td>
        </tr>
        <tr>
          <th><h5>出版社</h5></th>
          <td><%= @book.publisher_name %></td>
        </tr>
        <tr>
          <th><h5>ジャンル</h5></th>
          <td><%= @book.genre.name %></td>
        </tr>
        <tr>
          <th><h5>オリジナルキャッチコピー</h5></th>
          <td><%= @book.catchphrase %></td>
        </tr>
      </table>
    </div>
  </div>
</div>
<div class='container'>
  <div class='row'>
    <div class="md-12">
      <h5>紹介文</h5>
      <p><%= @book.body %></p>
      <div><%= link_to '削除', admin_book_path(@book), method: :delete, data: { confirm: '本当に消しますか？' }, class: "btn btn-sm btn-danger" %></div>
    </div>
  </div>
</div>
<div class='container'>
  <div class='row'>
    <div class="md-12">
      <h4>コメント一覧</h4>
      <div><%= render "admin/post_comments/index", book: @book %></div>
    </div>
  </div>
</div>