<div class='admin_edit container'>
	<div class='row justify-content-center pt-3'>
		<h3 class="col-md-auto section-ttl text-center"><%= @member.name %> さんのメンバー情報編集</h3>
	</div>
	<div class='row justify-content-center pt-3'>
	  <div class=" col-md-12 col-lg-6 py-2 px-sm-0 mx-auto">
	    <%= render partial: 'layouts/error_messages', locals: {resource: @member} %>
      <%= form_with model:@member, url: admin_member_path(@member), method: :patch do |f| %>
        <div class="text-center py-2 px-2">
          <%= f.label "名前:" %>
          <%= @member.name %>
        </div>
        <div class="text-center py-2">
          <%= f.label "メールアドレス:" %>
          <%= @member.email %>
        </div>
       <div class="text-center py-2">
          <%= f.label "会員ステータス:" %>
          <%= f.radio_button :is_deleted, false %><%= f.label :is_deleted, "有効", class: "text-invalide" %>
          <%= f.radio_button :is_deleted, true %><%= f.label :is_deleted, "退会済み", class: "text-invalid" %>
        </div>
        <div class="text-center">
          <%= f.submit "編集内容を保存", class: 'btn btn-success' %>
        </div>
      <% end %>
    </div>
  </div>
</div>
