<table class='table table-hover table-inverse'>
  <thead>
    <tr>
      <th></th>
      <th>タイトル</th>
      <th>ジャンル</th>
      <th>キャッチコピー</th>
      <% if member_signed_in? %>
        <th></th>
      <% end %>
    </tr>
  </thead>

  <% books.each do |book| %>
    <tbody class="table">
      <tr>
        <td><%= render "public/books/image_url", book: book %></td>
        <td><%= link_to book.title, book_path(book.id), class: "link" %></td>
        <td class="tb_color"><%= book.genre.name %></td>
        <td class="tb_color"><%= book.catchphrase %></td>
        <% if member_signed_in? %>
          <td id="favorite_buttons_<%= book.id %>"><%= render "public/favorites/btn", book: book %></td>
        <% end %>
      </tr>
    </tbody>
  <% end %>
</table>