<table class='table table-hover table-inverse p-0 m-0'>
  <thead>
    <tr>
      <th></th>
      <th class="text-nowrap">メンバーネーム</th>
      <th class="text-nowrap">ニックネーム</th>
      <th class="text-nowrap">投稿数</th>
      <th class="text-nowrap">フォロー</th>
      <th class="text-nowrap">フォロワー</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
  <% members.each do |member| %>
      <tr>
        <td>
          <% if member.profile_image.attached? %>
            <%= link_to member_path(member.id) do %>
              <%= image_tag member.profile_image, :size => '80x80' %>
            <% end %>
          <% else %>
            <%= link_to member_path(member.id) do %>
              <%= image_tag "no_image.jpg", :size => '80x80', class: "img" %>
            <% end %>
          <% end %>
        </td>
        <td class="tb_color"><%= member.name %></td>
        <td class="tb_color"><%= member.nick_name %></td>
        <td class="tb_color"><p><%= member.books.count %>件</p></td>
        <td><%= link_to member.followings.count, member_followings_path(member), class: "link" %></td>
        <td><%= link_to member.followers.count, member_followers_path(member), class: "link" %></td>
        <td>
        <% if member.name != "guestmember" %>
          <% if current_member != member %>
            <%= render "public/relationships/btn", member: member %>
          <% else %>
            <%= link_to "マイページ", member_path(member), class: "btn btn-outline-warning" %>
          <% end %>
        <% end %>
        </td>
      </tr>
  <% end %>
  </tbody>
</table>