<h4>いいね一覧</h4>
<table class='table table-hover table-inverse'>
  <thead>
    <tr>
      <th>ニックネーム</th>
      <th></th>
      <th>タイトル</th>
      <th>ジャンル</th>
      <th>オリジナル<by>キャッチコピー</th>
      <% if member_signed_in? %>
        <th></th>
        <th></th>
      <% end %>
    </tr>
  </thead>
  <% @favorite_books.each do |book|%>
    <tbody class="table">
      <tr>
        <td>
          <%= link_to member_path(book.member_id) do %>
            <%= book.member.nick_name %>
          <% end %>
        </td>
        <td><%= render "public/books/image_url", book: book %></td>
        <td><%= link_to book.title, book_path(book.id) %></td>
        <td><%= book.genre.name %></td>
        <td><%= book.catchphrase %></td>
        <% if member_signed_in? %>
        <td id="favorite_buttons_<%= book.id %>"><%= render "public/favorites/btn", book: book %></td>
        <% end %>
      </tr>
    </tbody>
  <% end %>
</table>
  <%#= render "public/books/index", books: @books %>
