<table class='table'>
  <%= form_with model:@member, local:true do |f| %>
    <tr>
      <% if @member.profile_image.attached? %>
        <%= image_tag @member.profile_image, size:"200x200" %>
      <% else %>
        <%= image_tag "no_image.jpg", size:"200x200",  class: "img" %>
      <% end %>
    </tr>
    <tr>
      <th>名前</th>
      <th><%= @member.full_name %></th>
    </tr>
    <tr>
      <th>ニックネーム</th>
      <th><%= @member.nick_name %></th>
    </tr>
    <tr>
      <th>投稿数</th>
      <th><p><%= @member.books.count %>件</p></th>
    </tr>
    <tr>
      <th>フォロー</th>
      <th><%#= link_to @member.followings.count, member_followings_path(@member) %></th>
    </tr>
    <tr>
      <th>フォロワー</th>
      <th><%#= link_to @member.followers.count, member_followers_path(@member) %></th>
    </tr>
    <tr>
      <th>紹介文</th>
      <th><%= @member.self_introduction %></th>
    </tr>
  <% end %>
</table>



<% if @member.full_name != "guestmember" %>
<div class='row'>
  <%= link_to 'edit',edit_member_path(@member), class: "btn btn-outline-secondary btn-block" %>
</div>
<% end %>