<div class='container'>
  <%= form_with model:@member, local:true do |f| %>
    <div class='row'>
      <div class='col-md-4'>
        <table class='table'>
          <tr>
            <% if @member.profile_image.attached? %>
              <td><%= image_tag @member.profile_image, size:"200x200" %></td>
            <% else %>
              <td><%= image_tag "no_image.jpg", size:"200x200",  class: "img" %></td>
            <% end %>
          </tr>
          <td>
            <% if @member.name != "guestmember" %>
              <% if current_member == @member %>
                <td><p><%=link_to"お気に入り記事",favorites_member_path(@member) %></p></td>
              <% end %>
            <% end %>
          </td>
        </table>
      </div>
      <div class='col-md-8'>
        <table class='table'>
          <tr>
            <th>名前</th>
            <td><%= @member.name %></td>
          </tr>
          <tr>
            <th>ニックネーム</th>
            <td><%= @member.nick_name %></td>
          </tr>
          <tr>
            <th>投稿数</th>
            <td><p><%= @member.books.count %>件</p></td>
          </tr>
          <tr>
            <th>フォロー</th>
            <td><%= link_to @member.followings.count, member_followings_path(@member) %></td>
          </tr>
          <tr>
            <th>フォロワー</th>
            <td><%= link_to @member.followers.count, member_followers_path(@member) %></td>
          </tr>
          <td>
            <% if @member.name != "guestmember" %>
              <% if current_member != @member %>
                <td><%= render "public/relationships/btn", member: @member %></td>
              <% else %>
                <%= link_to edit_member_path(@member), class: "btn btn-outline-secondary btn-block " do %>
                  <i>マイページ編集</i>
                <% end %>
              <% end %>
            <% end %>
          </td>
        </table>
      </div>
    </div>
    <div class='row'>
      <div class='md-12'>
        <th>紹介文</th>
        <td><%= @member.self_introduction %></td>
      </div>
    </div>
    <div class='row'>
      <div class='md-12'>
        <th>投稿一覧</th>
        <td><%= render "public/members/book_show", books: @books %></td>
        <%= paginate @books %>
      </div>
    </div>
  <% end %>
</div>



