<div class='container'>
  <%= form_with model:@member, local:true do |f| %>
    <div class='row'>
      <div class='col-md-4'>
        <div class='table'>
          <% if @member.profile_image.attached? %>
            <%= image_tag @member.profile_image, size:"200x200" %>
          <% else %>
            <%= image_tag "no_image.jpg", size:"200x200",  class: "img" %>
          <% end %>
        </div>
        <div>
          <% if @member.name != "guestmember" %>
            <% if current_member == @member %>
              <td><p><%=link_to"お気に入り記事",favorites_member_path(@member) %></p></td>
            <% end %>
          <% end %>
        </div>
      </div>
      <div class='col-md-8'>
        <table class='table'>
          <tr>
            <th>名前</th>
            <td><%= @member.name %></td>
          </tr>
          <tr>
            <th>ニックネーム</th>
            <td><%= @member.nick_name %></td>
          </tr>
          <tr>
            <th>投稿数</th>
            <td><p><%= @member.books.count %>件</p></td>
          </tr>
          <tr>
            <th>フォロー</th>
            <td><%= link_to @member.followings.count, member_followings_path(@member) %></td>
          </tr>
          <tr>
            <th>フォロワー</th>
            <td><%= link_to @member.followers.count, member_followers_path(@member) %></td>
          </tr>
          <td>
            <% if @member.name != "guestmember" %>
              <% if current_member != @member %>
                <td><%= render "public/relationships/btn", member: @member %></td>
              <% else %>
                <%= link_to edit_member_path(@member), class: "btn btn-outline-secondary btn-block " do %>
                  <i>マイページ編集</i>
                <% end %>
              <% end %>
            <% end %>
          </td>
        </table>
      </div>
    </div>
    <div class='row'>
      <div class='md-12'>
        <div>紹介文</div>
        <p><%= @member.self_introduction %></p>
      </div>
    </div>
    <div class='row'>
      <div class='md-12'>
        <th>投稿一覧</th>
        <td><%= render "public/members/book_show", books: @books %></td>
        <%= paginate @books %>
      </div>
    </div>
  <% end %>
</div>



