<div class='container pb-5'>
	<div class='row justify-content-center pt-3'>
		<h2 class="col-md-auto section-ttl text-center"><%= @member.name %>さんのページ</h2>
	</div>
	<%= form_with model:@member, local:true do |f| %>
    <div class='row justify-content-center pt-5'>
      <div class="col-md-3 mx-0">
        <div class="px-4">
          <% if @member.profile_image.attached? %>
            <%= image_tag @member.profile_image, size:"200x200", class: 'img-fluid' %>
          <% else %>
            <%= image_tag "no_image.jpg", size:"200x200",  class: "img img-fluid" %>
          <% end %>
        </div>
        <div class="text-center my-2">
          <% if @member.name != "guestmember" %>
            <% if current_member == @member %>
              <%=link_to"お気に入り記事",favorites_member_path(@member), class: "link" %>
            <% end %>
          <% end %>
        </div>
        <div class="text-center my-1">
          <% if @member.name != "guestmember" %>
            <% if current_member != @member %>
              <td><%= render "public/relationships/btn", member: @member %></td>
            <% else %>
              <%= link_to "マイページ編集", edit_member_path(@member), class: "btn btn-outline-success" %>
            <% end %>
          <% end %>
        </div>
      </div>
      <div class="col-md-7 px-0 mx-0">
        <table class='table border-danger'>
          <tr>
            <th class="text-nowrap" width="40%">名前</th>
            <td><%= @member.name %></td>
          </tr>
          <tr>
            <th class="text-nowrap" width="40%">ニックネーム</th>
            <td><%= @member.nick_name %></td>
          </tr>
          <tr>
            <th class="text-nowrap" width="40%">投稿数</th>
            <td><p><%= @member.books.count %>件</p></td>
          </tr>
          <tr>
            <th class="text-nowrap" width="40%">フォロー</th>
            <td><%= link_to @member.followings.count, member_followings_path(@member), class: "link" %></td>
          </tr>
          <tr>
            <th class="text-nowrap" width="40%">フォロワー</th>
            <td><%= link_to @member.followers.count, member_followers_path(@member), class: "link" %></td>
          </tr>
        </table>
      </div>
    </div>
    <div class='row justify-content-center'>
      <div class="col-md-9 text-center">
        <h4 class="text-center">紹介文</h4>
        <div class="text-break">
          <p><%= simple_format(@member.self_introduction) %></p>
        </div>
      </div>
    </div>
  <% end %>
</div>
<div class='container pb-5'>
  <div class='row justify-content-center pt-3'>
  	<div class="col-md-auto section-ttl text-center">
      <h4>投稿一覧</h4>
      <div class='justify-content-center'>
        <%= render "public/members/book_show", books: @books %>
      </div>
      <%= paginate @books %>
    </div>
  </div>
</div>