<div class='container'>
  <div class='row'>

    <div class='col-md-8 offset-md-1'>
      <h2>投稿一覧</h2>

      <table class='table table-hover table-inverse'>
        <thead>
          <tr>
            <th>ニックネーム</th>
            <th>表紙</th>
            <th>タイトル</th>
            <th>ジャンル</th>
            <th>オリジナル<by>キャッチコピー</th>
            <% if member_signed_in? %>
            <th>フォロー</th>
            <% end %>
          </tr>
        </thead>

        <% @books.each do |book| %>
          <tbody class="table">
            <tr>
              <td><%= book.member.nick_name %></td>
              <td>
                <%= link_to member_path(book.member_id) do %>
                  <%= image_tag book.image_url, class: "image" %>
                <% end %></td>
              <td><%= link_to book.title, book_path(book.id) %></td>
              <td><%= book.genre_id %></td>
              <td><%= book.catchphrase %></td>
            </tr>
          </tbody>
        <% end %>
     </table>
    </div>
  </div>
</div>

