<div class='container pt-4'>
  <%= form_with model: @book do |f| %>
    <div class='row'>
      <div class="col-md-4">
        <%= image_tag @book.image_url, size:"280x340", class: "image img-fluid d-block mx-auto" %>
        <%= f.hidden_field :image_url, :value => @book.image_url %>
      </div>
      <div class="col-md-8">
        <table class='table'>
          <tr>
            <th><%= f.label "タイトル" %>
                <p><%= @book.title %></p>
            </th>
            <td><%= f.hidden_field :title, :value => @book.title %></td>
          </tr>
          <tr>
            <th><%= f.label "著者" %>
                <p><%= @book.author %></p>
            </th>
            <td><%= f.hidden_field :author, :value => @book.author %></td>
          </tr>
          <tr>
            <th><%= f.label "出版社" %>
                <p><%= @book.publisher_name %></p>
            </th>
            <td><%= f.hidden_field :publisher_name, :value => @book.publisher_name %></td>
          </tr>
          <tr>
            <th><%= f.label "ジャンル" %>
                <p><%= @book.genre.name %></p>
            </th>
            <td><%= f.hidden_field :genre_id, :value => @book.genre_id %></td>
          </tr>
          <tr>
            <th><%= f.label "キャッチコピー" %></th>
            <td><%= f.text_field :catchphrase, class: 'form-control book_catchphrase' %></td>
          </tr>
        </table>
      </div>
    </div>
    <div>
       <%= f.label "紹介文" %><%= f.text_area :body, class: 'form-control book_body' %>
    </div>
    <div class="text-center">
      <%= f.submit "投稿する", class: 'btn btn-success my-3' %>
      <%= f.hidden_field :isbn, :value => @book.isbn %>
    </div>
  <% end %>
</div>
