<div class='container'>
  <% @books.each do |book| %>
    <div class='row pt-5'>
      <div class='col-md-3'>
        <%= image_tag book.large_image_url, :size => '160x200' %>
      </div>
      <div class='col-md-9'>
        <table class='table'>
          <tr>
            <th>タイトル</th>
            <td class="tb_color"><%= book.title %></td>
          </tr>
          <tr>
            <th>著者</th>
            <td class="tb_color"><%= book.author %></td>
          </tr>
          <tr>
            <th>出版社</th>
            <td class="tb_color"><%= book.publisher_name %></td>
          </tr>
          <tr>
            <td class="text-nowrap"><%= link_to "決定して次に進む", new_book_path(isbn: book.isbn), class: "btn btn-sm btn-success" %></td>
          </tr>
        </table>
      </div>
    </div>
  <% end %>
  <%= paginate @books %>
</div>