<div class='container'>
  <div class='row'>
      <div class="col-md-4">
        <tr>
          <td><%= image_tag @book.book.image_url, class: "image" %></td>
        </tr>
      </div>
      <div class="col-md-8">
        <table class='table'>
          <tr>
            <th><%= label "タイトル" %></th>
            <td><%= @book.title %></td>
          </tr>
          <tr>
            <th><%= f.label "著者" %></th>
            <td><%= @book.author %></td>
          </tr>
          <tr>
            <th><%= f.label "出版社" %></th>
            <td><%= @book.publisher_name %></td>
          </tr>
          <tr>
            <th><%= f.label "ジャンル" %></th>
            <td><%= @book.books_genre_name %></td>
          </tr>
        </table>
      </div>
   
    <%#= render "post_comments/index", book: @book %>
    <%#= render "post_comments/form", book: @book, post_comment: @post_comment %>
  </div>
</div>