<header>
  <nav class="navbar navbar-expand-lg navbar-black bg-black">
    <div class="container">
      <%= link_to "Popularize a Books", books_path, class: "navbar-brand" %>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
          <% if member_signed_in? %>
              <li>
                <%= link_to books_path,class: 'nav-link text-black' do %>
                  <i class="fas fa-home"></i> ホーム
                <% end %>
              </li>
              <li>
                <%=  link_to members_path,class: 'nav-link text-black' do %>
                  <i class="fas fa-members"></i> 会員一覧
                <% end %>
              </li>
              <li>
                <%=  link_to books_path ,class: 'nav-link text-black' do %>
                  <i class="class="bi bi-book""></i> 投稿一覧
                <% end %>
              </li>
              <li>
                <%=  link_to books_search_path ,class: 'nav-link text-black' do %>
                  <i class="fas fa-book"></i> 新規投稿
                <% end %>
              </li>
              <li>
                <%#= link_to book_path(current_page),class: 'nav-link text-black' do %>
                  <i class="fas fa-home"></i> マイページ
                <%# end %>
              </li>
              <li>
                <%= link_to destroy_member_session_path, method: :delete,class: 'nav-link text-black' do %>
                  <i class="fas fa-sign-out-alt"></i> ログアウト
                <% end %>
              </li>
            <% else %>
              <li>
                <%= link_to root_path,class: 'nav-link text-black' do %>
                  <i class="fas fa-home"></i> ホーム
                <% end %>
              </li>
              <li>
                <%= link_to about_path,class: 'nav-link text-black' do %>
                  <i class="fas fa-link"></i> サイト紹介
                <% end %>
              </li>
              <li>
                <%= link_to new_member_registration_path,class: 'nav-link text-black' do %>
                  <i class="fas fa-user-plus"></i> 新規登録
                <% end %>
              </li>
              <li>
                <%= link_to new_member_session_path ,class: 'nav-link text-black' do %>
                  <i class="fas fa-sign-in-alt"></i> ログイン
                <% end %>
              </li>
            <% end %>
        </ul>
        <form class="navbar-form navbar-left" role="search">
    				<div class="form-group">
    					<input type="text" class="form-control" placeholder="検索キーワード">
    				</div>
    				<button type="submit" class="btn btn-default">検索</button>
    			</form>
      </div>
    </div>
  </nav>
</header>